


    

    <div class="show_words">
        <p>每天进步一点点</p>
        <p>"+" a little</p>
        <p>"+" a little</p>
        <p>...</p>
    	<a href="">本周计划表</a>

    </div>

    <div class="show_day">

	    <div class="weather">
	        <iframe allowtransparency="true" frameborder="0" width="385" height="96" scrolling="no" src="http://tianqi.2345.com/plugin/widget/index.htm?s=1&z=1&t=0&v=0&d=3&bd=0&k=000000&f=ff80c0&q=1&e=1&a=1&c=54511&w=385&h=96&align=left"></iframe>
	    </div>
	    <ul class="s2b_col" id="s2b_col">
		      <a href=""><li></li></a>
		      <a href=""><li></li></a>
		      <a href=""><li></li></a>
		      <a href=""><li></li></a>
		      <a href=""><li></li></a>
		      <a href=""><li></li></a>
		      <a href=""><li></li></a>      
		    </ul>
    </div>